{% extends "dashboard/base_dashboard.html" %}
{% block title %}Usuarios{% endblock %}

{% block content %}
<h1>👥 Usuarios Registrados</h1>
    <a class="btn-add" href="/dashboard/usuarios/nuevo/">➕ Agregar usuario</a>


<table class="tabla">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.tipo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
